.Header {
  padding: 16px;
  min-height: 24px;
  background-color: goldenrod;
  display: flex;
}

.Header-nav-icon {
  margin: 0;
  text-align: left;
  min-width: 56px;
}

.Header-title {
  height: 100%;
  padding-bottom: 4px;
}

.Header-action-icons {
  margin-left: auto;
}
